<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPR News</title>
</head>

<body>
    <h1>NPR News</h1>
    <div>
        {% for article in articles %}
        <div>
            <h2>{{ article.title }}</h2>
            {% if article.image_url %}
            <img src="{{ article.image_url }}" alt="{{ article.title }}">
            {% endif %}
            <p>{{ article.description }}</p>
            <p>{{ article.pubDate }}</p>
            <p><a href="{{ article.link }}">Read more</a></p>
        </div>
        {% endfor %}
    </div>
</body>

</html>